.page-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


#userIcon img{
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-bottom:15px;
}


div.back-button{
    width:auto;
    padding-top: 100px;
    margin-bottom: 40px;
}

div.back-button a{
    text-decoration: none;
    color: var(--text);
}


form div{
    display: flex;
    flex-direction: column;
    text-align:left;
	padding: 5px;
	font-size: 16px;
	border: none;
	outline: none;
	resize: none;
}

form.course-item{
    display: flex;
    width: 300px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.heading label{
    font-weight: 700;
    font-size: large;
}

.heading input{
    min-height: 30px;
}

div.course-price{
    margin-top: 20px;
}

.course-info{
    width:500px;
}

.body {
	width: 950px;
	
}
.body label{
    font-weight: 800;
    font-size:x-large;
    margin-bottom: 5px;
}

.body textarea{
	display: flex;
	resize: none;
	height: 500px;
}

#add-course-button{
    margin-top: 60px;
    margin-bottom: 50px;
    height: 35px;
    width: 110px;
    background-color: var(--green);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}

#buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 400px;
}

#back-button{

    height: 35px;
    width: 110px;
    background-color: var(--orange);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}

#save-button{
    height: 35px;
    width: 110px;
    background-color: var(--green);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}


.buttons {
    display: flex;
    gap: 10px;
    width: 400px;
    margin-top: 75px;
	margin: 0 auto;
	justify-content: space-between;
}
.buttons a {
    color: darkslategrey;
    text-decoration: none;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.buttons a:hover {
transition: all .2s ease;
filter:brightness(90%);
}

.course-edit-bttn {
    background-color: var(--orange);
}

.course-delete-bttn {
    background-color: var(--red);
}

.course-reactivate-bttn {
    background-color: var(--green);
}

.course-container {
	display: flex;
	flex-direction: column;
	width: 950px;
	margin: 0 auto;
}

#course-picture-and-data {
	display: flex;
	flex-direction: row;
	width: 950px;
	justify-content: space-between;
}

.butttons {
	justify-content: flex-start;
}

.course-item {
	display: flex;
	flex-direction: column;
}

.delete-button {
	width: 950px;
	justify-content: flex-end;
}

.submit-button {
    display: flex;
    gap: 10px;
    width: 400px;
    margin-top: 75px;
	margin: 0 auto;
	justify-content: center;
	color: darkslategrey;
    text-decoration: none;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}
.submit-button a {
    color: darkslategrey;
    text-decoration: none;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}