main{
    width: 960px;
    margin: 0 auto;
}

.page-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


#userIcon img{
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-bottom:15px;
}


div.back-button{
    width:auto;
    padding-top: 100px;
    margin-bottom: 40px;
}

div.back-button a{
    text-decoration: none;
    color: var(--text);
}


form div{
    display: flex;
    flex-direction: column;
    text-align:left;
    /* margin-bottom: 10px; */
	padding: 5px;
	font-size: 16px;
	border: none;
	outline: none;
	resize: none;
}

form.course-item{
    display: flex;
    width: 300px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 30px;
    /* background-color: aqua; */
}

.heading label{
    font-weight: 700;
    font-size: large;
}

.heading input{
    min-height: 30px;
}

div.course-price{
    margin-top: 20px;
}

.course-info{
    width:500px;
    transform: translate(100px);
}

.body{
    width: 960px;
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    transform: translate(-400px);
}

.body label{
    font-weight: 800;
    font-size:x-large;
    margin-bottom: 5px;
}

.body textarea{
    width: 900px;
    min-height: 400px;
   
}

#add-course-button{
    margin-top: 60px;
    margin-bottom: 50px;
    height: 35px;
    width: 110px;
    background-color: var(--green);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}

