main{
    width: 960px;
    margin: 0 auto;
}

.page-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#delete{
    height: 35px;
    width: 110px;
    background-color: var(--red);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
    transform: translate(820px);
}

section img{
    height: 250px;
    width: 250px;
    margin-top: 30px;
}

div.back-button{
    width:auto;
    padding-top: 100px;
    margin-bottom: 50px;
}

div.back-button a{
    text-decoration: none;
    color: var(--text);
}

div.course-container{
    display: flex;
}

div.course-info{
    display: flex;
}

form div{
    display: flex;
    flex-direction: column;
    text-align:left;
    /* margin-bottom: 10px; */
	padding: 5px;
	font-size: 16px;
	border: none;
	outline: none;
	resize: none;
}

form.course-item{
    width: 600px;
    padding: 5px;
    /* margin-left: 15px; */
    margin-bottom: 30px;
    /* background-color: aqua; */
}

.heading label{
    font-weight: 700;
    font-size: large;
}

.heading input{
    min-height: 30px;
}

div.course-price{
    margin-top: 20px;
}

.body{
    width: 960px;
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
}

.body label{
    font-weight: 800;
    font-size:x-large;
    margin-bottom: 5px;
}

.body textarea{
    min-height: 400px;
}

#back-button{
    margin-top: 60px;
    margin-left: 300px;
    margin-bottom: 50px;
    height: 35px;
    width: 110px;
    background-color: var(--orange);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}

#save-button{
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 100px;
    height: 35px;
    width: 110px;
    background-color: var(--green);
    border-radius: 5px;
    outline: none;
    color: var(--text);
	cursor: pointer;
    font-size:medium;
    font-weight: 500;
}

.buttons {
    display: flex;
    gap: 10px;
    width: 200px;
    margin-top: 75px;
    margin-left: 355px;
}
.buttons a {
    color: darkslategrey;
    text-decoration: none;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.buttons a:hover {
transition: all .2s ease;
filter:brightness(90%);
}

.course-edit-bttn {
    background-color: var(--orange);
}

.course-delete-bttn {
    background-color: var(--red);
}

.course-reactivate-bttn {
    background-color: var(--green);
}
