li{
    list-style: none;
}

.content{
	margin-top: 120px;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #fff;
	resize: none;
}

.content .page-title{
    display: flex;
	justify-content: center;
    margin-top: 30px;
	margin-bottom: 30px;
}

section{
    margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
	font-size: 1.1rem;
}

.messages-button button{
    width: 80px;
	height: 35px;
	margin: 50px 20px;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

#unread{
    background: var(--green);
    color: var(--text);
    font-weight: 500;
}

#read{
    background: var(--blue);
    color: var(--text);
    font-weight: 500;
}

.messages-item{
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 5px;
}

.messages-item ul {
    display: flex;
    justify-content:space-between;
}

.messages-item ul li{
   width: 20%;
   text-align: left;
}

.messages-item ul li:nth-child(-n+2){
    width: 10%;
    text-align: left;
 }

 .messages-item ul li:nth-child(4){
    width: 30%;
    text-align: left;
 }

 .messages-item ul li:nth-child(last){
    width: 10%;
    text-align: left;
 }

.visible p{
    width: 20%;
    text-align: left;
}

.visible p:nth-child(-n+2){
    width: 10%;
    text-align: left;
}

.visible p:nth-child(4){
    width: 30%;
    text-align: left;
}

.visible p:nth-child(last){
    width: 10%;
    text-align: left;
}


.messages-detail ul{
    display: flex;
    flex-direction: column;
}


.messages-detail ul li{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
}

.toggle{
    text-decoration: none;
    color: var(--orange);
}


.messages-detail .visible{
    display: flex;
    justify-content: space-between;
}

.messages-detail li{
    display: flex;
    justify-content: space-between;
}

.messages-detail li {
    display: inline-block;
	padding:5px;
	color: var(--text);
}


.hidden{
    padding: 20px;
    position: relative;
    background: var(--background);
    color: var(--text);
    display: none;
    border: transparent;
    box-shadow: -6px 4px 5px -1px #ccc inset ;
}

.delete{
    color: var(--red);
    text-decoration: none;
}