footer{
    background-color: var(--text);
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 0px 0px 30px 0px;
    justify-content: space-between;
    margin-top: auto;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

footer li a{
    text-decoration: none;
    color: var(--background);
}

footer li a:hover{
    filter:brightness(80%);
}

footer p{
    color: var(--background);
    text-align: center;
}
