#main-wrapper {
    position: relative;
    top: 100px;
    width: 800px;
    margin: 0 auto;
}

#return{
    margin-bottom: 20px;
}

#return a:link, #return a:active, #return a:visited, #return a:hover {
    display: block;
    color: var(--text);
    text-decoration: none;
}

.total{
    list-style: none;
    padding-left: 0;
    height: auto;
    width: 550px;
    background-color: var(--content_background);
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
    padding: 20px;
    margin: 20px auto;
}

.date-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.course{
    display: flex;
    margin : 10px auto;
}

.total-list{
    list-style: none;
    padding-left: 0;
}

.course-name {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-weight: lighter;
}

.course-price{
    /* display: flex; */
    text-align: right;
}

.course-name-price{
    display:flex;
    justify-content:space-between;
    width: 60%;
    margin-left: 40px;
    margin-top: 30px;
}

.footer-price{
    display: flex;
    justify-content: right;
    margin: 10px auto;
    font-weight: bold;
}