<!doctype html>
<html lang="jp">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin_edit_course.css}">
	<title>HTML | Template</title>
</head>

<body>
	<header>
		<h1><a href="">07TeamA</a></h1>
		<nav>
			<ul>
        <li><img th:src="@{/admin-img/{img}(img=${admin.getAdminIcon})}" alt="admin_icon"></li>
        <li><p th:text="${admin.getAdminName}"></p></li>
        <li><a th:href="@{/home/admin/editadmininfo}">情報変更</a></li>
        <li><a th:href="@{/home/admin/register}">管理者追加</a></li>
				<li><a th:href="@{/home/admin/contact/view}">お問い合わせ</a></li>
				<li><a th:href="@{/adminlogout}">ログアウト</a></li>
			</ul>
		</nav>
	</header>

	<main>

		<div class="back-button">
			<a th:href="@{/home/admin/view/courses}" class="back-view-courses"> &lt;&lt; 講座一覧に戻る </a>
		</div>

		<h2 class="page-title">講座編集</h2>
        <a class="course-bttn course-delete-bttn" th:href="@{/home/course/delete/{courseId}(courseId=${course.courseId})}">講座削除</a>


		<section class="course">


			<form th:action="@{/home/admin/view/courses/editcourse/save}" class="course-item" method="post"
				enctype="multipart/form-data">
				<input id="course-id" type="text" name="courseId" th:value="${course.courseId}" style="display:none">
				<div class="course-container">
					<div id="userIcon"><img th:src="@{/course-img/{img}(img=${course.getCourseImage})}" alt="course_image"><input type="file" name="courseImage">
					</div>
					<div class="course-info">
						<div class="heading">
							<label>講座名</label>
							<input type="text" name="courseName" th:value="${course.courseName}">
						</div>

						<div class="item">
							<div class="course-price">
								<label>料金</label>
								<input type="text" name="courseFee" th:value="${course.courseFee}">
							</div>

							<div class="course-start-date">
								<label>開始日</label>
								<input type="date" name="courseStartDate" th:value="${course.StartDate}">
							</div>

							<div class="course-finish-date">
								<label>終了日</label>
								<input type="date" name="courseFinishDate" th:value="${course.FinishDate}">
							</div>

							<div class="course-start-time">
								<label>レッスン開始時間</label>
								<input type="time" name="lessonStartTime" th:value="${course.lessonStartTime}">
							</div>

							<div class="course-duration">
								<label>レッスン時間</label>
								<input type="text" name="lessonDuration" th:value="${course.lessonDuration}">
							</div>
							<div class="body">
								<label>講座の情報</label>
								<textarea name="courseInfo" id="body" th:text="${course.courseInfo}"></textarea>

							</div>
						</div>
						<Input type="submit" name="save-button" id="save-button"></Input>
			</form>

			</div>
			</div>
          <button name="back-button" id="back-button"><a th:href="@{/home/admin/view/courses}">戻る</a></button>
     </section>

	</main>

	<footer>
		<ul>
            <li><a th:href="@{/home/admin/editadmininfo}">情報変更</a></li>
            <li><p> | </p></li>
            <li><a th:href="@{/adminlogout}">ログアウト</a></li>
        </ul>
		<p>Copyright @ 2023 Learner All Right Reserved.</p>
	</footer>
</body>

</html>