<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/view_courses.css}">
    <link rel="stylesheet" th:href="@{/css/admin_view_courses.css}">
    <title>07TeamA</title>
</head>

<body>
    <header>
        <h1><a href="">07TeamA</a></h1>
        <nav>
            <ul>
                <li><img th:src="@{/img/kiko.jpg}" alt="admin_icon"></li>
                <li><p>管理者名前</p></li>
                <li><a href="#">情報変更</a></li>
                <li><a href="#">管理者追加</a></li>
                <li><a href="#">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <main>
		<div id="main-wrapper">
            <section id="admin-panel">
                <section id="new-course">
                    <a th:href="@{/home/admin/view/courses/addcourse}" class="new-course-bttn">講座新規登録</a>

                </section>
                <section id="statistics">
                    <h3>分析データ</h3>
                    <div class="todays-statistics">
                        <div class="statistics-line">
                            <p>今日のアクセス数：　</p>
                            <p>1000人</p>
                        </div>
                        <div class="statistics-line">
                            <p>今日の購入売上：</p>
                            <p>　１０，０００円</p>
                        </div>
                    </div>
                    <div class="this-months-statistics">
                        <div class="statistics-line">
                            <p>今月のアクセス数：</p>
                            <p>３７３９３９２７人</p>
                        </div>
                        <div class="statistics-line">
                        <p>今月の購入売上：</p>
                        <p>１２３，４８４９円</p>
                        </div>
                    </div>
                    <div class="toriawase">
                        <div class="statistics-line last">
                        <p>未済み取り合わせ：</p>
                        <p>３８件</p>
                        </div>
                    </div>
                </section>
            </section>

			<section id="search">
				<p id="search-results">講座：リスト一覧</p>
				<form action="">
					<input type="text" class="search-box" placeholder="search by keyword...">
					<input type="submit" id="search-button" value="検索">
				</form>
			</section>

			<section id="courses">
				<article class="course" th:each="course:${courseList}">
					<div class="course-image">
						<img th:src="@{/course-img/{img}(img=${courseImage})}" alt="" height="200px" width="200px">
					</div>
					<div class ="course-info">
						<div class="course-name-price">
							<a th:href="@{#}" th:text="${course.courseName}" class="course-name"><h2></h2></a>
							<p th:text="${course.courseFee}" class="course-price"></p>
						</div>
						<p th:text="${course.courseInfo}" class="course-description"></p>
						<div class="buttons">
                            <a class="course-bttn course-edit-bttn" href="#">講座編集</a>
                            <a class="course-bttn course-delete-bttn" href="#">講座削除</a>
                        </div>
					</div>
				</article>

			</section>
		</div>
	</main>

    <footer>
        <ul>
            <li><a href="">情報変更</a></li>
            <li><p> | </p></li>
            <li><a href="">ログアウト</a></li>
        </ul>
        <p>Copyright @ 2023 Learner All Right Reserved.</p>
    </footer>
</body>

</html>