<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/user_register.css}">
    <title>登録画面</title>
</head>

<body>
    <header>
        <h1><a href="">07TeamA</a></h1>
    </header>

    <main>
        <div class="container">
            <form th:action="@{/userregister/process}" id="Form" method="post" enctype="multipart/form-data">
                <h2>新規登録</h2>
                <div id="userIcon"><img th:src="@{/img/kiko.jpg}" alt="user_icon"><input type="file" name="user_icon"></div>
                <input type="username" name="user_name" placeholder="ユーザー名前" required>
                <input type="email" name="email" placeholder="ユーザーメール" required>
                <input type="password" name="password" placeholder="ユーザーパスワード" required>
                <input type="password" name="confirm" placeholder="パスワード確認" required>

                <div class="btn-box">
                    <input type="submit" name="register" id="register" value="登録" form="Form">
                </div>
                <div class="login">
                    <a th:href="@{/userlogin}">ログイン</a>
                </div>

            </form>

        </div>

    </main>

</body>

</html>