<!doctype html>
<html lang="jp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/user_contact.css}">
    <title>お問い合わせ</title>
</head>

<body>
    <header>
       <h1><a th:href="@{/home/user/view/courses}">07TeamA</a></h1>
        <nav>
            <ul>
                <li><a href="#"><img th:src="@{/user-img/{img}(img=${user.getStudentIcon})}" alt="user_icon"></a></li>
				<li><p th:text="${user.getStudentName}"></p></li>
				<li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
				<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
				<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
				<li><a th:href="@{/userlogout}">ログアウト</a></li>
				<li><a th:href="@{/home/cart}"><span class="material-symbols-outlined">shopping_cart</span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="main-wrapper">
            <section id="return">
                <a th:href="@{/home/user/view/courses}"> &lt;&lt;講座一覧に戻る</a>
            </section>

            <section id="main-body">
                <section id="message">
                    <h2>お問い合わせ</h2>
                </section>

                <form method="post" id="contact" th:action="@{/home/user/contact/process}">
                    <div class="body" >
                        <label>件名</label>
                        <input type="text" class="title" name="contactTitle" placeholder="件名を入力してください">
                        <label>内容</label>
                        <textarea id="body" name="contactDetail" placeholder="お問い合わせ内容を入力してください"></textarea>
                    </div>
                     <div>
                    	<input type="submit" id="contact-button" value="送信"></input>
                	</div>
                </form>

            </section>
        </div>
    </main>

    <footer>
        <ul>
            <li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
			<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
			<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
			<li><a th:href="@{/userlogout}">ログアウト</a></li>
        </ul>
        <p>Copyright @ 2023 Learner All Right Reserved.</p>
    </footer>
</body>

</html>