<!doctype html>
<html lang="jp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
     <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/user_select_payment_method.css}">
    <title>決済情報</title>
</head>

<body>
    <header>
		<h1><a th:href="@{/home/user/view/courses}">07TeamA</a></h1>
        <nav>
			<ul>
				<li><a href="#"><img th:src="@{/user-img/{img}(img=${user.getStudentIcon})}" alt="user_icon"></a></li>
				<li><p th:text="${user.getStudentName}"></p></li>
				<li><a href="#">購入履歴</a></li>
				<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
				<li><a href="#">お問い合わせ</a></li>
				<li><a th:href="@{/userlogout}">ログアウト</a></li>
				<li><a th:href="@{/home/cart}"><span class="material-symbols-outlined">shopping_cart</span></a></li>
			</ul>
        </nav>
    </header>

    <main>
        <div id="main-wrapper">
            <section id="return">
                <a th:href="@{/home/cart}">＜＜カートに戻る</a>
            </section>
            
            <h2>支払い方法を選択してください</h2>

            <section id="total">
                <div id="total-header">
                    <p>合計金額</p>
                    <p class="total-price" th:text="${totalPrice} + '円'"></p>
                </div>
            </section>
            
            <section id="course-list">
				<ul>
					<li th:each="course:${cartList}">
						<p th:text="${course.courseName}"></p>
						<p th:text="${course.courseFee}"></p>
					</li>
				</ul>
			</section>
			
			<div id="total-footer">
                   <p>合計金額</p>
                    <p class="total-price" th:text="${totalPrice} + '円'"></p>
            </div>
			
			<h2>支払い方法を選択してください</h2>
							
            <div>
                <a href="#" class="payment-method-button" id="credit-card">
                    <img th:src="@{/img/credit-card.jpg}" alt="クレジットカード">
                    <span>クレジットカード</span>
                </a>

                <a href="#" class="payment-method-button">
                    <img th:src="@{/img/paypay.jpg}" alt="ペイペイ">
                    <span>PayPay</span>
                </a>

                <a href="#" class="payment-method-button">
                    <img th:src="@{/img/bank-transfer.jpg}" alt="口座振込">
                    <span>口座振込</span>
                </a><br>

                <a href="#" class="payment-method-button" id="PayPal">
                    <img th:src="@{/img/PayPal.jpg}" alt="ペイパル">
                    <span>PayPal</span>
                </a>

                <a href="#" class="payment-method-button">
                    <img th:src="@{/img/convenience-store.jpg}" alt="コンビニ決済">
                    <span>コンビニ決済</span>
                </a>
            </div>
            <div>




                <section id="payment-button">
                    <a class="payment-button" th:href="@{/home/paymentdetails}">支払いに進む</a>
                </section>
            </div>

        </div>

    </main>

    <footer>
        <ul>
            <li><a href="#">購入履歴</a></li>
			<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
			<li><a href="#">お問い合わせ</a></li>
			<li><a th:href="@{/userlogout}">ログアウト</a></li>
        </ul>
        <p>Copyright @ 2023 Learner All Right Reserved.</p>
    </footer>
</body>

</html>