<!doctype html>
<html lang="jp">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/view_courses.css}">
	<title>メイン</title>
</head>

<body>
	<header>
		<h1><a th:href="@{/home/user/view/courses}">07TeamA</a></h1>
		<nav>
			<ul>
				<li><a href="#"><img th:src="@{/user-img/{img}(img=${user.getStudentIcon})}" alt="user_icon"></a></li>
				<li><p th:text="${user.getStudentName}"></p></li>
				<li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
				<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
				<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
				<li><a th:href="@{/userlogout}">ログアウト</a></li>
				<li><a th:href="@{/home/cart}"><span class="material-symbols-outlined">shopping_cart</span></a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div id="main-wrapper">
			<section id="search">
				<p id="search-results">講座：リスト一覧</p>
				<form action="">
					<input type="text" class="search-box">
					<input type="submit" id="search-button" value="検索">
				</form>
			</section>

			<section id="courses">
				<article class="course" th:each="course:${courseList}">
					<div class="course-image">
						<img th:src="@{/course-img/{img}(img=${course.courseImage})}" alt="" height="200px"
							width="200px">
					</div>
					<div class="course-info">
						<div class="course-name-price">
							<a th:href="@{/home/user/view/courses/{courseId}(courseId=${course.courseId})}" th:text="${course.courseName}" class="course-name">
								<h2></h2>
							</a>
							<p th:text="${course.courseFee}" class="course-price"></p>
						</div>
						<p th:text="${course.courseInfo}" class="course-description"></p>
						<a class="course-buy-bttn" th:href="@{/home/add/to/cart/{courseId}(courseId=${course.courseId})}" onclick="alert('カートに入れました')">カートに入れる</a>
					</div>
				</article>

			</section>
		</div>
	</main>

	<footer>
		<ul>
			<li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
			<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
			<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
			<li><a th:href="@{/userlogout}">ログアウト</a></li>
		</ul>
		<p>Copyright @ 2023 Learner All Right Reserved.</p>
	</footer>
</body>
<script>
	
</script>
</html>