<!doctype html>
<html lang="jp">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/user_confirm_payment_details.css}">
	<title>決済情報</title>
</head>

<body>
    <header>
		<h1><a th:href="@{/home/user/view/courses}">07TeamA</a></h1>
        <nav>
			<ul>
				<li><img th:src="@{/user-img/{img}(img=${user.getStudentIcon})}" alt="user_icon"></li>
				<li><p th:text="${user.getStudentName}"></p></li>
				<li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
				<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
				<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
				<li><a th:href="@{/userlogout}">ログアウト</a></li>
				<li id="cart-icon"><a  th:href="@{/home/cart}"><span class="material-symbols-outlined">shopping_cart</span></a></li>
				<p id="cart-amount" th:text="${cartContentNumber}"></p>
			</ul>
        </nav>
    </header>

	<main>
		<div id="main-wrapper">
			<section id="return">
				<a th:href="@{/home/choosepaymentmethod}">&lt;&lt;支払い選択に戻る</a>
			</section>

			<section id="total">
				<div id="total-header">
					<h2>合計金額</h2>
					<p class="total-price" th:text="${totalPrice} + '円'"></p>
				</div>
			</section>

			<section id="message">
				<h2>支払い情報を入力してください</h2>
			</section>

			<section id="course-list">
				<ul>
					<li th:each="course:${cartList}">
						<p th:text="${course.courseName}"></p>
						<p th:text="${course.courseFee}  + '円'"></p>
					</li>
				</ul>
			</section>

			<section id="credit-card">
				<form id="credit" method="post">
					<input type="text" id="credit-number" placeholder="クレジットカード番号" required>
					<input type="text" id="credit-name" placeholder="クレジットカード名前" required>
					<div id="credit-card-cvv">
						<input type="text" id="credit-date" placeholder="有効期限(MM/YY)" required>
						<input type="text" id="credit-cvv" placeholder="CVV" required>
					</div>
				</form>
			</section>

			<section id="buy-button">
				<a class="total-buy-bttn" th:href="@{/home/makepayment}">支払い</a>
			</section>


		</div>

	</main>

	<footer>
		<ul>
			<li><a th:href="@{/home/user/viewpurchasehistory}">購入履歴</a></li>
			<li><a th:href="@{/home/edituserinfo}">情報変更</a></li>
			<li><a th:href="@{/home/user/contact/view}">お問い合わせ</a></li>
			<li><a th:href="@{/userlogout}">ログアウト</a></li>
		</ul>
		<p>Copyright @ 2023 Learner All Right Reserved.</p>
	</footer>
	<script type="text/javascript" th:src="@{/js/cartHover.js}"></script>
</body>

</html>